:root{
    --primary: black;
    --secondary: hsl(236, 100%, 10%, 0.8);
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}
    
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }

.mid {
    padding-top: 13rem;
    /* background-image: url(./assets/Images/best-dance-clubs-night-clubs-san-antonio-nightlife.jpg); */
    /* margin-top: 5rem; */
    background: linear-gradient(180deg, #02042b, var(--primary));
    animation: gradient-animation-mid 5s ease infinite;
}

/* @keyframes gradient-animation-mid {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } */

.FestMent {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:30px 100px;
}
.nav {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li a{
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 40px;
}

/* .login-btn {
    border-style: solid;
    border-radius: 100px;
    padding: 5px 20px 5px 20px;
} */

.explore {
    text-align: center;
    /* font-size: 5rem; */
    /* padding: 10% 0 10%; */
}

.login-button:hover {
  background-color: white;
  color: black;
}