* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

.top{
    background-image: url("https://t4.ftcdn.net/jpg/03/72/85/69/360_F_372856935_BnPaH0i20GCeuscEWVQLC9CNfZSy29N3.jpg");
    background-size: cover;
}

.FestMent {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:30px 100px;
}
.nav {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li a{
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 40px;
}

/* .login-btn {
    border-style: solid;
    border-radius: 100px;
    padding: 5px 20px 5px 20px;
} */

.explore {
    text-align: center;
    /* font-size: 5rem; */
    /* padding: 10% 0 10%; */
}