:root{
    --primary: black;
    --secondary: hsl(236, 100%, 10%, 0.8);
}

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

.top{
    /* background-image: url(./assets/Images/best-dance-clubs-night-clubs-san-antonio-nightlife.jpg);
    background-size: cover; */
    background: linear-gradient(180deg, var(--primary), var(--secondary)),
    url(./assets/Images/best-dance-clubs-night-clubs-san-antonio-nightlife.jpg) no-repeat center / cover;
}

.mid {
    padding-top: 13rem;
    /* background-image: url(./assets/Images/best-dance-clubs-night-clubs-san-antonio-nightlife.jpg); */
    /* margin-top: 5rem; */
}


.FestMent {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:30px 100px;
}
.nav {
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li a{
    color: white;
    position: relative;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 40px;
}

/* .login-btn {
    border-style: solid;
    border-radius: 100px;
    padding: 5px 20px 5px 20px;
} */

.explore {
    text-align: center;
    /* font-size: 5rem; */
    /* padding: 10% 0 10%; */
}