body {
    padding: 0;
    margin: 0;
}

.sponsorship {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    box-sizing: border-box;
  }
  .first-fold {
    position: relative;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    width: 1479px;
    box-sizing: border-box;
  }
  .rectangle-10 {
    opacity: 0.9;
    background: #2F2147;
    position: absolute;
    left: 28px;
    top: 0px;
    right: 11px;
    height: 98px;
  }
  .group-31 {
    border-radius: 50px;
    position: relative;
    margin: 0 0 280px 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 395px;
    box-sizing: border-box;
  }
  .home {
    margin-right: 12px;
    width: 77px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  .event {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  .sponsors {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  .frame-1 {
    border-radius: 50px;
    border: 1.5px solid #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8.5px 0.2px 8.5px 0;
    width: 101px;
    box-sizing: border-box;
  }
  .login {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
  }
  .group-29 {
    position: absolute;
    left: 205px;
    top: 25px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .collegefest {
    font-family: 'Proxima Nova', 'Roboto Condensed';
    font-weight: 400;
    font-size: 28.5px;
    line-height: 1.333;
  }
  .collegefest-sub1 {
    font-family: 'Proxima Nova', 'Roboto Condensed';
    font-weight: 800;
    font-size: 28.5px;
    line-height: 1.333;
  }
  .ticket-21 {
    margin: 0 8.3px 2.1px 0;
    width: 34.4px;
    height: 34.4px;
  }
  .upcoming-events {
    margin: 0 6.2px 18px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
  }
  .sponsorship-inquiry {
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 40px;
    color: #221637;
  }
  .footer {
    background: #0A075F;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 100px 21px 100px;
    width: fit-content;
    box-sizing: border-box;
  }
  .marketplace {
    margin: 4px 76.3px 112px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .create-and-set-up-sell-tickets-online-events {
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: #F3F3F3;
  }
  .plan-events {
    margin-bottom: 24px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .nft-marketplace {
    margin: 0 133.1px 50px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .collegefest-2 {
    font-family: 'Proxima Nova', 'Roboto Condensed';
    font-weight: 400;
    font-size: 28.5px;
    line-height: 1.333;
  }
  .collegefest-2-sub1 {
    font-family: 'Proxima Nova', 'Roboto Condensed';
    font-weight: 800;
    font-size: 28.5px;
    line-height: 1.333;
  }
  .ticket-213 {
    margin: 0 8.3px 2.1px 0;
    width: 34.4px;
    height: 34.4px;
  }
  .college-fest-has-been-around-over-15-years-and-started-at-the-boston-university-armory-our-flagship-event-will-be-taking-place-at-house-of-blues-boston-in-2024-and-attracts-over-10000-students {
    margin-bottom: 17px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #F3F3F3;
  }
  .facebook {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
  }
  .group {
    width: 36px;
    height: 36px;
  }
  .twitter {
    margin: 0px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
  }
  .group-8 {
    width: 36px;
    height: 36px;
  }
  .linkedin {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 36px;
    height: 36px;
    box-sizing: border-box;
  }
  .group-12 {
    width: 36px;
    height: 36px;
  }
  .my-account {
    margin: 4px 103.6px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .about-us-blog-contact-us-help-center-how-it-works-privacy-terms {
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: #F3F3F3;
  }
  .eventick {
    margin: 0 18.2px 24px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .stay-in-the-loop {
    margin: 4px 0 71.2px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .join-our-mailing-list-to-stay-in-the-loop-with-our-newest-for-event-and-concert {
    margin: 0 12.7px 20px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #F3F3F3;
  }
  .stay-in-the-loop-16 {
    margin-bottom: 24px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .field-email {
    border-radius: 45.6px;
    border: 2px solid #F1F1F1;
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 7.6px 7.2px 6.8px 25.8px;
    width: fit-content;
    box-sizing: border-box;
  }
  .enter-your-email-address {
    margin: 15.2px 34.8px 15.2px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 12.2px;
    color: #959595;
  }
  .cta {
    box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
    border-radius: 50px;
    background: #F5167E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15.2px 0 15.2px 0.8px;
    width: 149.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .subscibe-now {
    border: 0.4px solid #FFFFFF;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 12.2px;
    letter-spacing: 0.8px;
    color: #FFFFFF;
  }
  .copyright {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    box-sizing: border-box;
  }
  .copyright-2024-citytech {
    margin-right: 7px;
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #FEFEFE;
  }
  .line-17 {
    background: #4C4D8B;
    margin-bottom: 14px;
    width: 1200px;
    height: 1px;
  }
  .the-goal-of-this-events-is-to-acknowledge-students-with-innovative-ideas-in-this-fascinating-and-expanding-world-of-science-and-technology-students-participating-in-this-event-will-be-able-to-showcase-their-skills-and-knowledge-in-the-fields {
    margin: 0 10px 40px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #4D4D4D;
  }
  .get-in-touch {
    margin: 0 712.3px 30px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 26px;
    color: #000000;
  }
  .rectangle-4377 {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    margin-right: 36px;
    width: 420px;
    height: 58px;
  }
  .rectangle-4378 {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    width: 420px;
    height: 58px;
  }
  .name {
    margin-right: 10.5px;
    width: 447.2px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .email {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .rectangle-4379 {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    margin-right: 36px;
    width: 420px;
    height: 58px;
  }
  .rectangle-4380 {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    width: 420px;
    height: 58px;
  }
  .company-name {
    margin-right: 10.5px;
    width: 444.3px;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .phone {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .rectangle-4381 {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    margin-bottom: 50px;
    width: 876px;
    height: 219px;
  }
  .your-message {
    margin: 0 771px 8px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
  .group-2 {
    box-shadow: 0px 10px 50px 0px rgba(61, 55, 241, 0.25);
    border-radius: 50px;
    background: #F5167E;
    position: relative;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 18px 0 19px 1px;
    width: 182px;
    box-sizing: border-box;
  }
  .submit {
    overflow-wrap: break-word;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
  }
  .brand {
    position: relative;
    margin: 0 0 38.6px 22.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0 169.4px 0.4px;
    width: 1122.6px;
    box-sizing: border-box;
  }
  .past-year-sponsors {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.333;
  }
  .past-year-sponsors-sub16 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.333;
    text-transform: uppercase;
  }
  .group-34 {
    position: absolute;
    left: 50%;
    bottom: 0px;
    translate: -50% 0;
    padding: 38.3px 0 130.4px 0;
    width: 1122.6px;
    box-sizing: border-box;
  }
  .group-33 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 365px;
    height: fit-content;
    box-sizing: border-box;
  }
  .image-4 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/417f17e8cfdd8d3f40f70b76b34085d51a339d3b?Expires=1711881587&KeyName=fn12-cdn&Signature=nTJHdskxKgf7uLplNWD6pF1H654=') 50% / cover no-repeat;
    margin: 0 45.4px 3.3px 0;
    width: 167.7px;
    height: 50.3px;
  }
  .image-5 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/e79322726000ae83984e9b1630421a306919ef39?Expires=1711881587&KeyName=fn12-cdn&Signature=wTPVVwlLMvzG02cPzS6470fc8_o=') 50% / cover no-repeat;
    margin-top: 4.6px;
    width: 151.8px;
    height: 49.1px;
  }
  .image-14 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/f574a65fc78dba315e9a92c02832c464a85c024c?Expires=1711881587&KeyName=fn12-cdn&Signature=367AE6qX37k2g7WZpVk6go_nTS8=') 50% / cover no-repeat;
    position: absolute;
    left: 447px;
    top: 34.3px;
    width: 132.5px;
    height: 62.9px;
  }
  .image-15 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/ac36ac5128687661d4684b8199e85aed7f2bce45?Expires=1711881587&KeyName=fn12-cdn&Signature=iVBsACDjMTuYSCFIfKnqSLMJi4g=') 50% / cover no-repeat;
    position: absolute;
    top: 0px;
    right: 276.6px;
    width: 212px;
    height: 131px;
  }
  .image-18 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/20566155e62f97578c61f26f9f84182168cf1f31?Expires=1711881587&KeyName=fn12-cdn&Signature=6Qf2FSfeMfj1tgINNAMvtjPSj9Y=') 50% / cover no-repeat;
    position: absolute;
    right: 403.6px;
    bottom: 42.7px;
    width: 170px;
    height: 38.6px;
  }
  .image-16 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/02d32c0b5c8d994811a4d926544363ac1bf6d9a4?Expires=1711881587&KeyName=fn12-cdn&Signature=QTSPnbICzZZnBL4YogJWhPqKEho=') 50% / contain no-repeat;
    position: absolute;
    top: 3.3px;
    right: 0px;
    width: 277.6px;
    height: 124.4px;
  }
  .image-17 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/aad9e50c1cf1f05ddcf5a88f7afc9e5e9f2741d9?Expires=1711881587&KeyName=fn12-cdn&Signature=LDR-kHP1j78RAXRETwNPIlO2928=') 50% / cover no-repeat;
    position: absolute;
    left: 58px;
    bottom: 26px;
    width: 275.7px;
    height: 83px;
  }
  .image-19 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/be5f6ae9aa2c244dd0dd3a9fcad535cd65904038?Expires=1711881587&KeyName=fn12-cdn&Signature=gzu3Yalcb03e_RCwJM4_Dk0gmZg=') 50% / contain no-repeat;
    position: absolute;
    left: 344px;
    bottom: 0px;
    width: 163.5px;
    height: 125.4px;
  }
  .image-20 {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/55f229d4aaadfa00abbc958de574019ac93c48eb?Expires=1711881587&KeyName=fn12-cdn&Signature=RZE7pP6fVyhFnj8LX4NMljh5ZG4=') 50% / contain no-repeat;
    position: absolute;
    right: 220.6px;
    bottom: 26.4px;
    width: 110px;
    height: 75px;
  }
  .rectangle-4388 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/TsyXeMkBA8CQnp4ueunmtS/assets/images/a459e3ca7b78dd6436cdb96ef3ea897c1c83a323?Expires=1711881587&KeyName=fn12-cdn&Signature=iGCKrjgEUWUDe-iWkbdcMQ_Th_g=');
    position: absolute;
    left: 28px;
    top: 98px;
    right: 11px;
    height: 276px;
  }
  .container {
    margin-bottom: 29px;
    display: flex;
    flex-direction: row;
    width: 876px;
    box-sizing: border-box;
  }
  .container-17 {
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
    width: 876px;
    box-sizing: border-box;
  }
  .container-18 {
    margin-bottom: 19.4px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-19 {
    background: #D1CDFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 63px 0;
    width: 1479px;
    box-sizing: border-box;
  }
  .container-20 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    column-gap: 16px;
    width: 140px;
    box-sizing: border-box;
  }
  .container-21 {
    margin: 0 379.7px 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 495.7px;
    box-sizing: border-box;
  }
  .container-22 {
    margin: 0 370.8px 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 498.4px;
    box-sizing: border-box;
  }
  .container-23 {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 249.5px;
    height: fit-content;
    box-sizing: border-box;
  }
  .container-24 {
    margin-bottom: 69px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }